@page "/books/add"
@inject ILogger<AddBook> Logger

<EditForm method="post" @onsubmit="Submit" @formname="add-book-form">
    <div id="book-title">
        <label>
            Identifier:
            <InputText @bind-Value="Book!.Title" />
        </label>
    </div>
    
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>


@code {
    [SupplyParameterFromForm]
    private BookModel Book { get; set; }

    protected override void OnInitialized() => Book = new();

    private void Submit() => Logger.LogInformation("Title = {title}", Book.Title);

}
